<!DOCTYPE html>
<html lang="en">
<head>
    <title>Words Play</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        <h1>{{title}}</h1>
        <form action="">
            <textarea name="" id="" placeholder="Enter text" cols="60" rows="10"></textarea> <br>
            <button>Search</button>
            <button type="button" onClick="refreshPage()">Clear</button>
        </form>

        <p id="text1"></p>
        <p><strong>Sentence Segmentation: </strong><span id="message-1"></span> </p>
        <p><strong>Word Segmentation: </strong><span id="message-2"></span> </p>
        <p><strong>Sentence without Stop Words: </strong><span id="message-3"></span> </p>
        <p><strong>Sentence without repeated strings: </strong><span id="message-4"></span> </p>
        <p><strong>Sentence with each word of the string reversed: </strong><span id="message-5"></span> </p>
        <p><strong>All numbers extracted from the string: </strong><span id="message-6"></span> </p>
    </div>
    <footer>
        <p>
            Source code : <a target="_blank" href="https://github.com/rkvyas98/wordsplay">here,</a>
            Created by : <a target="_blank" href="https://www.linkedin.com/in/rakshit-vyas-253a47174/">{{name}}</a>
                
        </p>
    </footer>

    <script src="/js/app.js"> </script>
</body>
</html>